
@model Rauan.ViewModels.ShopViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link rel="stylesheet" href="~/css/admin.css">

<a class="btn btn-warning" href="/Admin/AddProduct">Добавить товар</a>

<p></p>
<content>

    <div class="row">
        <div class="col-md-3">
            <select name="cat" class="form-control">
                <option disabled>Категория</option>
                @foreach (var v in Model.Categories)
                {
                    <option value="@v.Id">@v.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <select name="cat" class="form-control">
                <option disabled>Категория</option>
                @foreach (var v in Model.Categories)
                {
                    <option value="@v.Id">@v.Name</option>
                }
            </select>
        </div>
        
    </div>
    <hr />
    <div class="lists">
        @foreach (var p in Model.Products)
        {
            <div class="tovar">
                <img src="~/PublicImages/@p.PublicImage" alt="Img">
                <h3>@p.Name <span>@p.Price тг</span></h3>
                <a href="~/Admin/EditProduct/@p.Id">Подробнее</a>
                <a href="~/Admin/DeleteProduct/@p.Id">Удалить</a>
            </div>
        }
    </div>
</content>